<a href="https://colab.research.google.com/github/robitussin/CCDATSCL_EXERCISES/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [1]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
    print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

c:\Users\Virus5600\miniconda3\envs\com222\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).
Path to dataset files: C:\Users\Virus5600\.cache\kagglehub\datasets\dgomonov\new-york-city-airbnb-open-data\versions\3
True

In [2]:
def divider(len=50, withTopLB=True, withBottomLB=True):
    '''
    Prints a divider line of a specified length.

    Parameters:
    :param len: The length of the divider line (default is 50).
    :type len: int
    
    :param withTopLB: Whether to include a leading blank line (default is True).
    :type withTopLB: bool

    :param withBottomLB: Whether to include a trailing blank line (default is True).
    :type withBottomLB: bool
    '''
    if withTopLB:
        print()
    print("=" * len)
    if withBottomLB:
        print()

## A. Discovering

Display the first 10 rows

In [3]:
# put your answer here
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [4]:
# put your answer here
cols = df.columns.tolist()
cols

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Display the dataframe shape:

In [5]:
# put your answer here
shape = df.shape
shape

(48895, 16)

Identify the numerical features:

In [6]:
# put your answer here
numFeats = df.select_dtypes(include=[np.number]).columns.tolist()
numFeats

['id',
 'host_id',
 'latitude',
 'longitude',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Identify the categorical features

In [7]:
# put your answer here
catFeats = df.select_dtypes(include=[object]).columns.tolist()
catFeats

['name',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'room_type',
 'last_review']

What are the top 5 questions this dataset might help answer?

In [8]:
# put your answer here

# 1. Which location has the most Airbnb listings in the dataset?
# 2. How available are the listings in said location?
# 3. What is the average price of listings in said location?
# 4. Which host has the most listings in the dataset?
# 5. Is there a relationship between the number of listings a host has and the average price of their listings?

## B. Structuring

Check if the dataset has proper column types

In [9]:
# put your answer here
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Check if the dataset has index issues

In [10]:
# put your answer here
df.index.is_unique

True

Check if the dataset has duplicated rows

In [11]:
# put your answer here
df.duplicated().sum()

np.int64(0)

Convert columns to correct types (e.g., dates → datetime).

In [12]:
# put your answer here
df.last_review = pd.to_datetime(df.last_review)
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

Identify at least one structural issue and describe how to fix it.

In [13]:
# put your answer here
nulls = {}
for col in df.columns:
    nulls[col] = int(df[col].isnull().sum())
    print(f"{nulls[col]:>5} null values in {col}")

divider()

print(df.info())

# [ACTUAL ANSWER]

# There are several null values in the dataset, namely in 'name', 'host_name', 'last_review', and 'review_per_month' features.
# The `name` and `host_name` features have 16 and 21 missing values respectively. With how it's only a small fraction of the total number of rows, we can choose to drop these rows without losing much information using:
# df.dropna(subset=['name', 'host_name'])

# As for the `last_review` and `review_per_month` features, since they are related to reviews, we can choose to fill the null values with 0 using:
# df['last_review'] = df['last_review'].fillna(0)

    0 null values in id
   16 null values in name
    0 null values in host_id
   21 null values in host_name
    0 null values in neighbourhood_group
    0 null values in neighbourhood
    0 null values in latitude
    0 null values in longitude
    0 null values in room_type
    0 null values in price
    0 null values in minimum_nights
    0 null values in number_of_reviews
10052 null values in last_review
10052 null values in reviews_per_month
    0 null values in calculated_host_listings_count
    0 null values in availability_365

==================================================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB
None

## C. Cleaning

Check for missing values

In [14]:
# put your answer here

df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [15]:
# put your answer here

df['minimum_nights'].describe()

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Check for invalid values (e.g., price ≤ 0)

In [69]:
# put your answer here
invalids = {
    'price': [
        (df['price'] <= 0).sum()
	],
    'minimum_nights': [
        (df['minimum_nights'] <= 0).sum()
	]
}

rows = [
	'<= 0'
]

pd.DataFrame(invalids, index=rows)

      price  minimum_nights
<= 0     11               0

In [17]:
# Sample row to check what needs to be checked for invalid values
df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365

Apply a missing-value strategy (drop, fill, or flag)

In [49]:
# put your answer here

# In relation to earlier question:

cleanDF = df

cleanDF.dropna(subset=['name', 'host_name'], inplace=True)
cleanDF['last_review'] = cleanDF['last_review'].fillna(0)
cleanDF['reviews_per_month'] = cleanDF['reviews_per_month'].fillna(0)

# Checking if strategy worked

nulls = {}
for col in cleanDF.columns:
    nulls[col] = int(cleanDF[col].isnull().sum())
    print(f"{nulls[col]:>5} null values in {col}")

divider()

print(cleanDF.info())

    0 null values in id
    0 null values in name
    0 null values in host_id
    0 null values in host_name
    0 null values in neighbourhood_group
    0 null values in neighbourhood
    0 null values in latitude
    0 null values in longitude
    0 null values in room_type
    0 null values in price
    0 null values in minimum_nights
    0 null values in number_of_reviews
    0 null values in last_review
    0 null values in reviews_per_month
    0 null values in calculated_host_listings_count
    0 null values in availability_365
    0 null values in price_per_minimum_night
    0 null values in review_rate_per_month
    0 null values in is_expensive

==================================================

<class 'pandas.core.frame.DataFrame'>
Index: 48527 entries, 0 to 48894
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48527 non-null  int64
 1   name                            48527 non-null  object
 2   host_id                         48527 non-null  int64
 3   host_name                       48527 non-null  object
 4   neighbourhood_group             48527 non-null  object
 5   neighbourhood                   48527 non-null  object
 6   latitude                        48527 non-null  float64
 7   longitude                       48527 non-null  float64
 8   room_type                       48527 non-null  object
 9   price                           48527 non-null  int64
 10  minimum_nights                  48527 non-null  int64
 11  number_of_reviews               48527 non-null  int64
 12  last_review                     48527 non-null  object
 13  reviews_per_month               48527 non-null  float64
 14  calculated_host_listings_count  48527 non-null  int64
 15  availability_365                48527 non-null  int64
 16  price_per_minimum_night         48527 non-null  float64
 17  review_rate_per_month           48527 non-null  float64
 18  is_expensive                    48527 non-null  bool
dtypes: bool(1), float64(5), int64(7), object(6)
memory usage: 7.1+ MB
None

Apply an outlier-handling strategy

In [50]:
# put your answer here

# Check the outlier again
cleanDF['minimum_nights'].describe()

count    48527.000000
mean         5.890782
std          8.898716
min          1.000000
25%          1.000000
50%          2.000000
75%          5.000000
max         60.000000
Name: minimum_nights, dtype: float64

In [51]:
# Check all that's more than 60 days...

outliers = cleanDF[cleanDF['minimum_nights'] > 60]
outliers

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, price_per_minimum_night, review_rate_per_month, is_expensive]
Index: []

In [52]:
# Then drop said outliers so we could focus on short-term rentals

cleanDF.drop(outliers.index, inplace=True)
cleanDF['minimum_nights'].describe()

count    48527.000000
mean         5.890782
std          8.898716
min          1.000000
25%          1.000000
50%          2.000000
75%          5.000000
max         60.000000
Name: minimum_nights, dtype: float64

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [53]:
cleanDF['price'].describe()

count    48527.000000
mean       151.729058
std        227.716646
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [54]:
# put your answer here
cleanDF['price_per_minimum_night'] = cleanDF['price'] / cleanDF['minimum_nights']
cleanDF['review_rate_per_month'] = cleanDF['number_of_reviews'] * cleanDF['reviews_per_month']
cleanDF['is_expensive'] = cleanDF['price'] > cleanDF['price'].median()

In [55]:
# Got curious after the 10k price with no reviews... so decided to check if there're any other listings with no reviews and no availability
cleanDF[(cleanDF['availability_365'] == 0) & (cleanDF['number_of_reviews'] == 0)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive
26,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,0,0.0,1,0,20.000000,0.0,False
193,51438,1 Bedroom in 2 Bdrm Apt- Upper East,236421,Jessica,Manhattan,Upper East Side,40.77333,-73.95199,Private room,130,14,0,0,0.0,2,0,9.285714,0.0,True
267,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,200,3,0,0,0.0,1,0,66.666667,0.0,True
276,65556,"Room in S3rd/Bedford, Williamsburg",320422,Marlon,Brooklyn,Williamsburg,40.71368,-73.96260,Private room,60,3,0,0,0.0,1,0,20.000000,0.0,False
390,118680,Spacious East Village apt near it all,599354,Bobby,Manhattan,East Village,40.73067,-73.98702,Private room,87,2,0,0,0.0,1,0,43.500000,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48550,36313048,Sunny room with private entrance in shared home,16883913,Tiffany,Queens,Ridgewood,40.69919,-73.89902,Private room,45,1,0,0,0.0,1,0,45.000000,0.0,False
48731,36410519,Sunlight charming apt. in the heart of Brooklyn,121384174,Luciana Paula,Brooklyn,Park Slope,40.66716,-73.98101,Entire home/apt,111,8,0,0,0.0,1,0,13.875000,0.0,True
48756,36419441,Murray Hill Masterpiece,273824202,David,Manhattan,Murray Hill,40.74404,-73.97239,Entire home/apt,129,2,0,0,0.0,1,0,64.500000,0.0,True
48760,36420725,"Sunnyside, Queens 15 Mins to Midtown Clean & C...",19990280,Brandon,Queens,Sunnyside,40.74719,-73.91919,Private room,46,1,0,0,0.0,1,0,46.000000,0.0,False
48779,36424776,Queen size bedroom in two bed apt with great l...,13384464,Hollie,Brooklyn,Bedford-Stuyvesant,40.69617,-73.94198,Private room,50,3,0,0,0.0,1,0,16.666667,0.0,False

Create 1 aggregated summary table

(e.g. average price per neighborhood, number of hosts per borough)

In [56]:
# put your answer here
aggPrice = cleanDF.groupby('neighbourhood').agg(
    avgPrice=('price', 'mean'),
    hostCount=('host_id', 'nunique')
)

aggPrice

                   avgPrice  hostCount
neighbourhood
Allerton          87.595238         27
Arden Heights     67.250000          4
Arrochar         115.000000         10
Arverne          171.779221         62
Astoria          104.359462        742
...                     ...        ...
Windsor Terrace  138.051613        134
Woodhaven         67.170455         45
Woodlawn          60.090909          9
Woodrow          700.000000          1
Woodside          85.097872        147

[221 rows x 2 columns]

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [57]:
# put your answer here
def generateValidationReport(dataFrame):
    validationReport = pd.DataFrame({
        'Prices (<=0)': int((dataFrame['price'] <= 0).sum()),
        'Host IDs (null)': int(dataFrame['host_id'].isnull().sum()),
        'Minimum Nights (<=0)': int((dataFrame['minimum_nights'] <= 0).sum())
    }, index=['Invalids'])

    return validationReport

generateValidationReport(cleanDF)

          Prices (<=0)  Host IDs (null)  Minimum Nights (<=0)
Invalids            11                0                     0

In [63]:
# Invalid prices are to be removed.
print(f"Size before removing invalid prices: {cleanDF.shape[0]} rows")

cleanDF.drop(cleanDF[cleanDF['price'] <= 0].index, inplace=True)

print(f"Size after removing invalid prices: {cleanDF.shape[0]} rows")

generateValidationReport(cleanDF)

Size before removing invalid prices: 48527 rows
Size after removing invalid prices: 48516 rows

          Prices (<=0)  Host IDs (null)  Minimum Nights (<=0)
Invalids             0                0                     0

## F. Publishing

Select final columns for publication.

In [65]:
# put your answer here
cleanDF.columns.tolist()

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365',
 'price_per_minimum_night',
 'review_rate_per_month',
 'is_expensive']

Export cleaned dataset as "cleaned_airbnb.csv"

In [66]:
if not os.path.exists('exports'):
    os.makedirs('exports')

In [67]:
# put your answer here
cleanDF.to_csv('exports/clean_airbnb.csv', index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [68]:
# put your answer here
generateValidationReport(cleanDF).to_csv('exports/validation_report.csv')
aggPrice.to_csv('exports/agg_price.csv')