# Exercise 3

<img src="https://img.itch.zone/aW1nLzM0MzUxOTUuanBn/original/FuMxog.jpg" />

In this exercise, you will perform EDA on the popular Pokémon dataset, which contains detailed information about hundreds of Pokémon, including their stats, types, generation, and whether they are legendary.

The Pokémon dataset is ideal for practicing EDA because it includes a mix of numerical features (such as Attack, Defense, Speed, HP) and categorical features (such as Type 1, Type 2, and Generation). This combination allows you to apply a wide range of EDA techniques, including summary statistics, data visualizations, grouping and aggregation, correlation analysis, and comparisons across categories.

Throughout the exercise, you will explore questions such as:
- Which Pokémon tend to have the highest or lowest stats?
- How do different Pokémon types compare in terms of strength or defense?
- Do Legendary Pokémon differ significantly from non-Legendary ones?
- How are various stats distributed across the entire dataset?
- Are there relationships or trade-offs between certain attributes (e.g., Attack vs. Defense)?

In [2]:
import kagglehub
import os
import pandas as pd

c:\Users\Virus5600\miniconda3\envs\com222\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# Download latest version
path = kagglehub.dataset_download("abcsds/pokemon")
print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).
Path to dataset files: C:\Users\Virus5600\.cache\kagglehub\datasets\abcsds\pokemon\versions\2

In [4]:
if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

True


## 1: Data Understanding (4 pts)

1. Display the first 10 rows.

In [5]:
# put your answer here
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

2. Show dataset shape.

In [6]:
# put your answer here
df.shape

(800, 13)

3. Show all columns and its data types.

In [93]:
# put your answer here
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

4. Identify which columns contain missing values.

In [ ]:
# put your answer here
df.isnull().sum()

# Dropping rows without `Type 2` is absolutely a wrong move as some pokemons will be excluded when we select/look for pokemons (i.e. looking for pokemon with only a single type).
# Leaving it as it is will be the best move since we can always select the pokemons with Type 2 as null when we want to look for pokemons with only one type or when we want to look for pokemons with a specific type in Type 1 or Type 2.

# Honestly, this could easily be solved by just combining all `Type n` columns into a single column `Types` with a list of types as values... but I concur.

# Edit: I stand corrected. Later tasks requires types to be separated, making it easier to keep them on separate columns. Then again, pokemon in general only has primary and secondary types after all.

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

## 2. Summary Statistics (4 pts)

1. Generate `df.describe()`.

In [9]:
# put your answer here
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

2. Get mean, median, and mode of Attack.

In [10]:
# put your answer here
attStat = pd.DataFrame({
    "mean": float(df['Attack'].mean()),
    "median": float(df['Attack'].median()),
    "mode": df['Attack'].mode(),
})

attStat

       mean  median  mode
0  79.00125    75.0   100

3. Compute 25th and 75th percentiles for HP.

In [15]:
# put your answer here
print(f"25th percentile: {float(df['HP'].quantile(0.25))}")
print(f"75th percentile: {float(df['HP'].quantile(0.75))}")

25th percentile: 50.0
75th percentile: 80.0

4. Compute standard deviation and variance of Speed.

In [122]:
# put your answer here
print(f"Speed STD: {float(df['Speed'].std())}")
print(f"Speed VRN: {float(df['Speed'].var())}")

Speed STD: 29.06047371716149
Speed VRN: 844.5111326658338

## 3. Filtering & Selection `(7 pts)`

Select all Pokémon with Attack > 100.

In [18]:
# put your answer here
att100 = df[df['Attack'] > 100]
att100.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False

Select all Pokémon whose primary type (Type 1) is "Fire".

In [19]:
# put your answer here
type1Fire = df[df['Type 1'] == 'Fire']
type1Fire.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

Select all Pokémon that are Legendary.

In [21]:
# put your answer here
legendary = df[df['Legendary'] == True]
legendary.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

Select all Pokémon that are Generation 1 AND Legendary.

In [23]:
# put your answer here
g1l = df[(df['Generation'] == 1) & (df['Legendary'] == True)]
g1l.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

Select all Pokémon that are Water type OR Grass type.

In [26]:
# put your answer here
waterOrGrass = df[((df['Type 1'] == 'Water') | (df['Type 1'] == 'Grass')) | ((df['Type 2'] == 'Water') | (df['Type 2'] == 'Grass'))]
waterOrGrass.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

Select all Pokémon that are Fire type AND Attack > 120.

In [29]:
# put your answer here  
fireAndAttack = df[((df['Type 1'] == 'Fire') | (df['Type 2'] == 'Fire')) & (df['Attack'] > 120)]
fireAndAttack.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True

Select all Pokémon whose type is in this list:
`["Dragon", "Ghost", "Dark"]`.

In [30]:
# put your answer here
targetTypes = ['Dragon', 'Ghost', 'Dark']

targetPokemons = df[((df['Type 1'].isin(targetTypes)) | (df['Type 2'].isin(targetTypes)))]
targetPokemons.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False
100,93,Haunter,Ghost,Poison,405,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,500,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False

## 4. Categorical Exploration `(9 pts)`

Find the number of Pokémon per primary type.

In [46]:
# put your answer here  

type1Size = df.groupby('Type 1').size()
type1Size

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
dtype: int64

In [47]:
# Adding this for later use...
type2Size = df.groupby('Type 2').size()
type2Size

Type 2
Bug          3
Dark        20
Dragon      18
Electric     6
Fairy       23
Fighting    26
Fire        12
Flying      97
Ghost       14
Grass       25
Ground      35
Ice         14
Normal       4
Poison      34
Psychic     33
Rock        14
Steel       22
Water       14
dtype: int64

Find the number of Pokémon per generation.

In [38]:
# put your answer here  

df.groupby('Generation').size()

Generation
1    166
2    106
3    160
4    121
5    165
6     82
dtype: int64

Which type appears the most? Which appears the least?

In [43]:
 # put your answer here  

type1Size.sort_values()
# Flying has the least for the primary type while Water has the most.

Type 1
Flying        4
Fairy        17
Ice          24
Fighting     27
Steel        27
Poison       28
Dark         31
Dragon       32
Ghost        32
Ground       32
Electric     44
Rock         44
Fire         52
Psychic      57
Bug          69
Grass        70
Normal       98
Water       112
dtype: int64

In [52]:
# If we're to also check type 2, then...

type2Size.sort_values()
# Bug type has the least for the secondary type while Flying has the most.
# But it has a lot of pokemons with only one type (i.e. Type 2 is null) so it may not be the least common type overall. Flying type has the least for the primary type, but it has a lot of pokemons with flying as their secondary type so it may not be the least common type overall either. Ghost and Steel types have the least for both primary and secondary types, but they also have a lot of pokemons with only one type so they may not be the least common types overall either. So we can't really say which is the least common type overall without combining both primary and secondary types together and counting them as a single type column... which is what I mentioned earlier.

Type 2
Bug          3
Normal       4
Electric     6
Fire        12
Ice         14
Rock        14
Ghost       14
Water       14
Dragon      18
Dark        20
Steel       22
Fairy       23
Grass       25
Fighting    26
Psychic     33
Poison      34
Ground      35
Flying      97
dtype: int64

In [59]:
# Combning the two type columns together...
typeSize = pd.concat([type1Size, type2Size], axis=1).sum(axis=1)
typeSize.sort_values()

# ... we'll then have Ice as the least common type overall while Water has the most.

Ice          38
Fairy        40
Ghost        46
Steel        49
Dragon       50
Electric     50
Dark         51
Fighting     53
Rock         58
Poison       62
Fire         64
Ground       67
Bug          72
Psychic      90
Grass        95
Flying      101
Normal      102
Water       126
dtype: int64

How many unique primary types (Type 1) exist?

In [73]:
 # put your answer here  

df['Type 1'].nunique()

18

How many unique secondary types (Type 2) exist?

In [74]:
 # put your answer here  

df['Type 2'].nunique()

18


Which primary types have the most dual-type combinations?

In [76]:
 # put your answer here  

dual = df[df['Type 2'].notna()]
dual.groupby('Type 1').size().sort_values()

Type 1
Flying       2
Fairy        2
Fighting     7
Ice         11
Poison      13
Electric    17
Ground      19
Psychic     19
Dragon      21
Dark        21
Ghost       22
Steel       22
Fire        24
Rock        35
Normal      37
Grass       37
Bug         52
Water       53
dtype: int64

Which type has the highest mean Attack?

In [79]:
# put your answer here  

highestMeanAtt = df.groupby('Type 1')['Attack'].mean().sort_values(ascending=False)
highestMeanAtt

# Dragon type it is.

Type 1
Dragon      112.125000
Fighting     96.777778
Ground       95.750000
Rock         92.863636
Steel        92.703704
Dark         88.387097
Fire         84.769231
Flying       78.750000
Poison       74.678571
Water        74.151786
Ghost        73.781250
Normal       73.469388
Grass        73.214286
Ice          72.750000
Psychic      71.456140
Bug          70.971014
Electric     69.090909
Fairy        61.529412
Name: Attack, dtype: float64

Which type has the lowest mean Defense?

In [80]:
# put your answer here  

lowestMeanDef = df.groupby('Type 1')['Defense'].mean().sort_values()
lowestMeanDef

# Normal type it is.

Type 1
Normal       59.846939
Fairy        65.705882
Fighting     65.925926
Flying       66.250000
Electric     66.295455
Psychic      67.684211
Fire         67.769231
Poison       68.821429
Dark         70.225806
Bug          70.724638
Grass        70.800000
Ice          71.416667
Water        72.946429
Ghost        81.187500
Ground       84.843750
Dragon       86.375000
Rock        100.795455
Steel       126.370370
Name: Defense, dtype: float64


Which generation has the highest average Speed?

In [82]:
# put your answer here  

highestGenSpeed = df.groupby('Generation')['Speed'].mean().sort_values(ascending=False)
highestGenSpeed

# Gen 1 has the highest avg speed.

Generation
1    72.584337
4    71.338843
5    68.078788
3    66.925000
6    66.439024
2    61.811321
Name: Speed, dtype: float64

## 5. Groupby & Aggregation `(13 pts)`

Compute the average Attack per primary type.

In [83]:
# put your answer here  

primaryAvgAtt = df.groupby('Type 1')['Attack'].mean().sort_values(ascending=False)
primaryAvgAtt

Type 1
Dragon      112.125000
Fighting     96.777778
Ground       95.750000
Rock         92.863636
Steel        92.703704
Dark         88.387097
Fire         84.769231
Flying       78.750000
Poison       74.678571
Water        74.151786
Ghost        73.781250
Normal       73.469388
Grass        73.214286
Ice          72.750000
Psychic      71.456140
Bug          70.971014
Electric     69.090909
Fairy        61.529412
Name: Attack, dtype: float64

Compute the maximum HP per generation.

In [84]:
# put your answer here  

df.groupby('Generation')['HP'].max().sort_values(ascending=False)

Generation
2    255
1    250
3    170
5    165
4    150
6    126
Name: HP, dtype: int64

Compute the total number of Pokémon per primary type.

In [85]:
# put your answer here  

df.groupby('Type 1').size().sort_values(ascending=False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
dtype: int64

For each type, compute:

- mean Attack

- mean Defense

- mean Speed

In [88]:
# put your answer here  

statDf = df.groupby('Type 1').agg(
    Attack=('Attack', 'mean'),
    Defense=('Defense', 'mean'),
    Speed=('Speed', 'mean'),
)

statDf

              Attack     Defense       Speed
Type 1
Bug        70.971014   70.724638   61.681159
Dark       88.387097   70.225806   76.161290
Dragon    112.125000   86.375000   83.031250
Electric   69.090909   66.295455   84.500000
Fairy      61.529412   65.705882   48.588235
Fighting   96.777778   65.925926   66.074074
Fire       84.769231   67.769231   74.442308
Flying     78.750000   66.250000  102.500000
Ghost      73.781250   81.187500   64.343750
Grass      73.214286   70.800000   61.928571
Ground     95.750000   84.843750   63.906250
Ice        72.750000   71.416667   63.458333
Normal     73.469388   59.846939   71.551020
Poison     74.678571   68.821429   63.571429
Psychic    71.456140   67.684211   81.491228
Rock       92.863636  100.795455   55.909091
Steel      92.703704  126.370370   55.259259
Water      74.151786   72.946429   65.964286

For each generation, compute:

- count

- mean Total

- number of Legendary Pokémon (hint: use sum on Boolean)

In [94]:
# put your answer here  

genStat = df.groupby('Generation').agg(
    Count=('Name', 'count'),
    Total=('Total', 'mean'),
    Legendaries=('Legendary', 'sum')
)

genStat

            Count       Total  Legendaries
Generation
1             166  426.813253            6
2             106  418.283019            5
3             160  436.225000           18
4             121  459.016529           13
5             165  434.987879           15
6              82  436.378049            8

Which type combination (Type 1 + Type 2) has the highest average Attack?

In [131]:
# put your answer here  

pd.concat([
    df.groupby('Type 1')['Attack'].mean(),
    df.groupby('Type 2')['Attack'].mean()
], axis=1).sum(axis=1).sort_values(ascending=False)

# It seems to be the Fighting type.

Fighting    209.623932
Dragon      206.569444
Dark        198.187097
Ground      185.607143
Steel       185.294613
Rock        176.863636
Ice         170.750000
Fire        166.019231
Bug         160.971014
Flying      159.038660
Ghost       157.924107
Grass       147.374286
Psychic     146.153110
Water       144.294643
Poison      142.266807
Electric    141.757576
Normal      126.219388
Fairy       123.138107
dtype: float64

In [128]:
# Just to be sure with that "(Type 1 + Type 2)" part, I'll just include the combination of both types together and check the average attack stat for each type combination.

df.groupby(['Type 1', 'Type 2'])['Attack'].mean().sort_values(ascending=False)

# And in this case, the combination of Ground and Fire has the highest average attack stat.

Type 1   Type 2
Ground   Fire        180.000000
Psychic  Fighting    160.000000
         Dark        160.000000
Bug      Fighting    155.000000
Dragon   Electric    150.000000
                        ...
Normal   Fairy        45.000000
Ghost    Fire         41.666667
Ice      Psychic      40.000000
Water    Fairy        35.000000
Bug      Water        30.000000
Name: Attack, Length: 136, dtype: float64

Which generation has the highest proportion of Legendary Pokémon?

In [107]:
# put your answer here  

(df.groupby('Generation')['Legendary'].sum() / df.groupby('Generation').size()).sort_values(ascending=False)

# Gen 3 has the highest proportion of legendaries with 11.25% of them being legendaries.

Generation
3    0.112500
4    0.107438
6    0.097561
5    0.090909
2    0.047170
1    0.036145
dtype: float64


Which primary type has the largest variance in HP?

In [ ]:
# put your answer here  

df.groupby('Type 1')['HP'].var().sort_values(ascending=False)

# Normal has the largest variance, which sits at around 1.3k. Lmao, what a power creep.

Type 1
Normal      1312.861456
Ghost       1003.995968
Psychic      807.772556
Water        755.536599
Fighting     668.361823
Ground       658.563508
Dragon       566.221774
Fairy        556.360294
Ice          453.130435
Dark         444.294624
Rock         434.050740
Flying       428.250000
Poison       386.712963
Grass        380.896273
Fire         376.519985
Electric     299.515328
Bug          266.633419
Steel        257.410256
Name: HP, dtype: float64

Which primary type has the highest median Speed?

In [ ]:
# put your answer here  

df.groupby('Type 1')['Speed'].median().sort_values(ascending=False)

# Flying has the highest median speed, sitting at a comfortable 116.0.

Type 1
Flying      116.0
Dragon       90.0
Electric     88.0
Psychic      80.0
Fire         78.5
Normal       71.0
Dark         70.0
Ground       65.0
Water        65.0
Poison       62.5
Ice          62.0
Ghost        60.5
Bug          60.0
Fighting     60.0
Grass        58.5
Rock         50.0
Steel        50.0
Fairy        45.0
Name: Speed, dtype: float64

Group Pokémon by whether they are Legendary or not. Compare:

- mean Total

- mean Attack

- mean Defense

- mean Speed

In [ ]:
# put your answer here  

legendaryStats = df.groupby('Legendary').agg(
    Mean_Total=('Total', 'mean'),
    Mean_Attack=('Attack', 'mean'),
    Mean_Defense=('Defense', 'mean'),
    Mean_Speed=('Speed', 'mean')
)

legendaryStats

           Mean_Total  Mean_Attack  Mean_Defense  Mean_Speed
Legendary
False      417.213605    75.669388     71.559184   65.455782
True       637.384615   116.676923     99.661538  100.184615

Show the top 5 strongest types by mean Total.

In [117]:
# put your answer here  

df.groupby('Type 1')['Total'].mean().sort_values(ascending=False).head(5)

Type 1
Dragon     550.531250
Steel      487.703704
Flying     485.000000
Psychic    475.947368
Fire       458.076923
Name: Total, dtype: float64

Rank generations by their average Attack.

In [118]:
# put your answer here  

df.groupby('Generation')['Attack'].mean().sort_values(ascending=False)

Generation
4    82.867769
5    82.066667
3    81.625000
1    76.638554
6    75.804878
2    72.028302
Name: Attack, dtype: float64

Show the top 10 fastest Pokémon using nlargest(10, "Speed").

In [120]:
# put your answer here  
df.nlargest(10, "Speed").head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
109,101,Electrode,Electric,NaN,480,60,50,70,80,80,140,1,False